body
{
     font-family:courier, monospace;
     text-align: center;
     background-color: teal;
  
     margin-top: 50px;
     margin-bottom: 50px;
     margin-right: 350px;
     margin-left: 350px;
}

#penguin
{
   position:relative;
}

#tiger
{
    position:relative;
}

#polar_bear
{
    position:absolute;
}

#snake 
{
    position:absolute;
}
