body
{
     font-family:courier, monospace;
     text-align: justified;
     background-color: yellow;
}

img 
{
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 30%;
}
  
